@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --max-width: 1200px
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sour Gummy", sans-serif;
  
}
html{
  scroll-behavior: smooth;
}
body{
  color: #222;
  width: 100%;
  height: 100vh;
  text-align: center;
}

/*========HEADER+NAV=========*/
header{
  z-index:999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 200px;
  transition: 0.5s ease;
  background-color: rgba(255, 255, 255, 0.308);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0,0,0,0.2);
}
header figure img{
  width: 80px;
  height: 80px;
  
}
header .navi{
  position: relative;
}
header .navi .navi-items a, header .navi .menu-nav a{
  position: relative;
  color: #444;
  font-size: 1.5em;
  font-weight: 400;
  text-decoration: none;
  margin-left: 30px;
  transition: 0.3s ease;
  padding: 0 15px;
  
}

header .navi .menu-nav a:hover{
  color: rgb(255, 106, 52);
}

header .navi .navi-items a:before{
  content: '';
  position: absolute;
  background: rgb(255, 91, 31);
  width: 0%;
  height: 3px;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}
header .navi .navi-items a:hover{
  color: rgb(255, 106, 52);
}
header .navi .navi-items a:hover:before{
  width: 100%;
}

.navi-items img, .menu-nav img{
  width: 40px;
  height: 40px;
}

.menu-nav{
  position: fixed;
  top: 0;
  right: 0;
  height: 400px;
  width: 100%;
  padding:15px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.932);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0,0,0,0.2);
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 8px;
}
section{
  padding: 100px 200px;
}
h2{
  font-size: 2em;
  font-weight: 500;
  line-height: 75px;
  letter-spacing: 5px;
  margin-bottom: 40px;
}
h2 span{
  text-transform: uppercase;
  font-weight: 700;
  color: rgb(255, 106, 52);
}
/*========HOME=========*/
.home{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home .bg-cat{
  width: 100%;
  height: 400px;
  background-image: url(./image/hero_img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 40px;
}
.home .hero h1{
  
  font-size: 4em;
  font-weight: 500;
  line-height: 75px;
  letter-spacing: 5px;
  margin-bottom: 40px;
}
.home .hero h1 span{
  text-transform: uppercase;
  font-weight: 700;
  color: rgb(255, 106, 52);
}
.home .hero p{
  margin-bottom: 65px;
  font-size: 22px;
}

.socialM{
  margin-top: 15px;
}
.socialM a{
  color: #fffbfb;
  font-size: 2em;
}

.socialM a:not(:last-child){
  margin-right: 20px;
}
.socialM a:hover{
  color: rgb(255, 106, 52);
}
.socialM a i:hover{
  transform: scale(1.3);
}
.menu-btn{
  display: none;
}

/*========ABOUT=========*/
.about {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  grid-template-areas: "text" "pic";
  gap: 10px;
}

.about .about-text{
  max-width: 600px;
  font-size: 20px;
  margin: auto;
  border-bottom: 2px solid rgb(255, 106, 52);
  grid-area: "text";
}
.about-text span{
  color: rgb(255, 106, 52);
}
.about .about-container .about-pic{
  width: 500px;
  height: 700px;
  overflow: hidden;
  border: 10px #555;
  border-radius: 20px;
  margin: auto;
  grid-area: "pic";
}
.about .about-container .about-pic img{
  width: 1000px;
  height: 1000px;
  
}
.about .about-pic .about-wrapper{
  width: 100%;
  display: flex;
  animation: slide 10s infinite;
}
@keyframes slide {
  0%{
    transform: translateX(0);
  }
  50%{
    transform: translateX(-140%);
  }
  100%{
    transform: translateX(-270%);
  }
}
/*========MENU=========*/
.card{
  width: 500px;
  height: 700px;
}
.card-inner{
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}
.front, .back{
  width: 100%;
  height: 100%;
  border-radius: 15px;
  position: absolute;
  backface-visibility: hidden;
}
.front{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
 
}
.child1{
  background: url(./image/menu_cafe3.jpg);
  background-size: cover;
  background-position: center;
}
.child2{
  background: url(./image/menu_bread.jpg);
  background-size: cover;
  background-position: center;
}
.child3{
  background: url(./image/menu_kuchen3.jpg);
  background-size: cover;
  background-position: center;
}
.front .front-bg{
  width: 100%;
  padding: 20px 20px;
  background: #ffac5e93;
  border-radius: 15px;
}

.front h2{
  font-size: 3em;
  font-weight: 600;
  margin-bottom: 5px;
}

.back{
  background: #fff;
  color: #555;
  padding: 20px 40px;
  border: 2px solid rgb(255, 106, 52);
  transform: rotateY(180deg);
}
.back h1{
  font-size: 2em;
  line-height: 55px;
  margin-bottom: 10px;
}
.back p{
  font-size: 16px
}
.back .card-info{
  display: block;
}
.back .info-list{
  list-style: none;
  display: flex;
  justify-content: space-between; 
  flex-direction: column;
}
.back .info-list li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  margin-top: 5px;
}
.card:hover .card-inner{
  transform: rotateY(180deg);
}
.product-container{
 display: flex;
 flex-wrap: wrap;
 justify-content: space-evenly;
 gap: 10px;
}

/*========FAQ=========*/
.faq{
  position: relative;
}

.details{
  padding: 1rem;
  margin-block: 1rem 0;
  border: 2px solid rgb(255, 106, 52);
  border-radius: 0.3rem;
}

.faq-pic{
 grid-area: "pic";
 margin: auto;
width: 100%;
}
.faq-pic img{
  width: 500px;
  height: 700px;
  object-fit: cover;
  border-radius: 25px; 
}

.faq-text{
  margin: auto;
  grid-area: "text";
}
.cat-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  flex: 1 1 45rem;
}
.cat-container .cat{
  padding: 10px;
  margin-bottom: 10px;
}
.cat img{
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 25px;
}
.cat:hover{
  transform: scale(1.1);
}

/*========CONTACT=========*/
.contact .row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  background: #555;
  border-radius: 25px
}
.contact .row h3{
  text-transform: uppercase;
  font-size: 2rem;
  color: #fff;
}
.contact .row .map{
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}
.contact .row form{
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}
.contact .row form .inputbox{
  display: flex;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 2px solid rgb(187, 187, 187);
}
.contact .row form .inputbox input{
  width: 100%;
  padding: 0.5rem;
  font-size: 1.5rem;
  color: rgb(255, 106, 52);
  text-transform: none;
}
.contact .row form .btn{
  width: 100%;
  padding: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 25px;
  border: none;
  background: rgb(255, 106, 52);
  color: #fff;
}
.cat .cat-text {
  width: 100%;
  background: wheat;
  padding: .5rem;
  border-radius: 25px;
}
.cat .cat-text h3{
  font-size: 1.4rem;
}
/*========FOOTER=========*/


/*.about .glass{
  background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(25,255,255,0.18);
  box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
}*/
/*========MEDIA QUERY=========*/
@media (max-width: 1200px){
  header{
    padding: 12px 20px;
  }
  .grid-container{
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-areas: 
                        "text"
                        "pic";
    gap: 20px;
  }
  .faq-pic img{
    width: 400px;
    height: 500px;
    object-fit: cover;
    border-radius: 25px; 
  }
  
}

@media (max-width: 900px){
  .hideOnMobile{
    display: none;
  }
  .menu-btn{
    display: block;
  }
  .menu-btn img{
    width: 40px;
    height: 40px;
  }
  header{
    padding: 12px 15px;
  }
  .home .hero h1{
    font-size: 3em;
  }
  .home .hero p{
    font-size: 18px;
  }
  h2{
    font-size: 1.5em;}

  .about .about-container p {
    font-size: 18px;
  }
  section{
    padding: 10px 20px;
  }
  

}
@media (max-width: 400px){
  section{
    padding: 10px 20px;
  }
  .home .hero h1{
    font-size: 2em;
  }
  .hideOnMobile{
    display: none;
  }
  .menu-btn{
    display: block;
  }
  .menu-btn img{
    width: 26px;
    height: 26px;
  }
  h2{
    font-size: 1rem;
    margin-bottom: 20px;
  }
  
}